#telenav-gallery {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

#telenav-gallery-image {
	text-align: center;
	padding-top: 100px;
}
