.label {
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.form-date-input {
  width: 110px;
  min-width: 110px;
}

.input-group {
  flex-wrap: nowrap;
}

.form-check-label {
  white-space: nowrap;
}
