<div class="global-page-size">
  <div class="static-page">
    <h1>Privacy policy</h1>

    <h3>Telenav GmbH Privacy Policy</h3>
    <article>
      <p>This Privacy Policy governs your use of the skobbler.com website and applications offered by Telenav GmbH
        ("skobbler") for mobile devices. By using this application or otherwise by interacting with us, you consent to
        this Privacy Policy. If you do not agree with the terms of this Policy, please do not engage in any of these
        activities.</p>
      <p>Telenav GmbH is a subsidiary of Telenav, Inc. For information about Telenav, Inc. and its products and
        services,
        or to view the Telenav, Inc. privacy policy, please visit http://www.telenav.com/legal/policies.html. For
        information on how other providers of products or services handle Personal Information you provide through other
        web sites or through the use of our services in conjunction with a third party, please consult their privacy
        policies.</p>
      <p>We understand and respect your concerns about the use of your personally identifiable information, collected
        from
        you as a customer or visitor to our websites that identifies or is able to identify you as a specific person
        ("Personal Information"). Personal Information may include name, mobile telephone numbers, billing account
        number,
        Mobile Subscriber Identifier, Mobile Equipment Identifier, Network Address Identifier, IP address, and email
        addresses. Personal information does not include anonymous or aggregate information, which after processing
        cannot
        be associated with a specific person.</p>
      <p>We believe that you should know what information about you we collect, as well as how that information is used,
        maintained, and, in some cases, shared. The following sets forth our privacy practices and policies, applicable
        to
        skobbler application customers and visitors to the skobbler websites.</p>
      <p>INFORMATION COLLECTED ABOUT YOU AND OUR USE OF SUCH INFORMATION</p>
      <p>The types of personal and other information we may collect about you are primarily from three sources: (1)
        information you provide; (2) information automatically collected; and (3) information from other sources. How we
        use and maintain that information is described below.</p>
      <p>1. Information You Provide</p>
      <p>(a) Register/Information Related to Your Account</p>
      <p>We collect and store personal information about you when you register to become a customer of our services, and
        when you otherwise transmit such information to us via the internet. For instance, to maintain your account we
        collect and store in a database your name, nickname(s), billing address, email address, mobile phone number, or
        device ID/number for certain devices, mobile phone model, and wireless carrier.</p>
      <p>We use your name, billing address, and credit card number for the purpose of billing you for our services, and
        other services offered from within certain of our products, and with your permission, may store such information
        for future transactions.</p>
      <p>We may also use the information that we collect about you to manage your account and provide you with customer
        support. We may furthermore use such information to perform research and analysis about your use of our products
        and services on a pseudonymous basis (for opt-out possibilities please see below), to inform you from time to
        time
        by email if you provided a respective explicit consent, and/or within our application about products or services
        that we think will interest you. We may share the information we collect about you and your usage activity on an
        anonymous, aggregated basis with our third party partners for the purpose of performing research and analysis
        about users of our products and services.</p>
      <p>When you use the OpenStreetCam application, we will receive your OpenStreetMaps (OSM) user name or account ID
        from the OSM web platform. This information will be stored in connection with other information collected by the
        application. We will not use your OSM user name or account ID for any other purpose.</p>
      <p>(b) Website Use/Contact Our Customer Service Representatives</p>
      <p>We use your email address to contact you with regard to your account, such as to communicate that it is about
        to
        expire or to confirm any change to your phone number, and to respond to any inquiry or feedback you submit via
        our
        websites by email or from within any of our applications.</p>
      <p>(c) Accessing our Services</p>
      <p>When you use any of our services, including when you use a mobile device equipped with one of our services, you
        will be asked to provide certain information. We may use your mobile phone number/device ID number as your
        account
        number. We may also assign you a separate and unique ID number, which may be stored and used to manage your
        account and provide you with customer support, perform research and analysis about your use of our products and
        services on a pseudonymous basis (for opt-out possibilities please see below), to inform you from time to time
        (i)
        by email and/or SMS message if you provided a respective explicit consent and/or (ii) within our application
        about
        products or services that we think will interest you, unless you inform us that you opt out from receiving such
        communications.</p>
      <p>As a customer of skobbler, you may also create a personal identification number (PIN), which we store in our
        database, for the purpose of you logging into your account. In some cases, this PIN is generated for you
        automatically on your wireless device, and cannot be altered.</p>
      <p>As a customer of skobbler, you also have the option of providing us with your home and work addresses (to the
        extent they differ from your billing address), which we store in our database, to enable you to access readily
        other features of our services.</p>
      <p>(d) Third Party Applications</p>
      <p>Some of skobbler's services provide you with access to third party applications. When you enable a third party
        application, information collected by skobbler is processed under our privacy policy while information collected
        by the third party application provider is governed by its own privacy policy.</p>
      <p>(e) Request for Information</p>
      <p>When you request additional information about one of our services via our website, information we collect
        through
        these requests include your name, nickname(s), phone number, and email address, and if you are seeking
        information
        on behalf of your company, the name of that company. If you provided a respective explicit consent, we will use
        this information to provide you with details about our services, and we may use this information to promote our
        services to you in the future.</p>
      <p>(f) Public Forums</p>
      <p>If you use or link to public forums such as social networking services, blogs on skobbler or non- skobbler
        websites, internet bulletin boards, or chat rooms, be aware that any personal information you submit can be
        read,
        collected, or used by other users of these forums, including to send you unsolicited messages. skobbler cannot
        prevent the distribution and use of such information by other parties.</p>
      <p>(g) Other Submissions</p>
      <p>We collect personal information about you when you submit survey responses, a job application or resume.</p>
      <p>2. Information Automatically Collected</p>
      <p>We automatically receive certain types of information, some of which may be associated with personal
        information,
        when you visit our websites or use our products and services.</p>
      <p>(a) Information Related to Your Location and Route or Other User Content</p>
      <p>Each time you access the skobbler service, we record your location and route information, including your point
        of
        origin (which may be your then-current location), the address of your destination, the starting time of your
        trip,
        the route you are instructed to follow, localization data, speed, direction of travel and time information
        (collectively "FCD (floating car data)"). We record your current location when your wireless device requests a
        rerouting (which occurs, for example, when you deviate from the specified instructions). We maintain a database
        with the FCD on a non-personal basis, and may keep such information indefinitely to improve our map coverage and
        to provide other features that may enhance your service capabilities, functions, and your user experience. We
        may
        periodically receive your current location from the GPS hardware associated with your wireless device for the
        purpose of providing enhanced services, including traffic flow data. When your location, GPS heading and speed
        are
        used for these purposes, we strip it of your personal identity information, such as your phone number, prior to
        storing.</p>
      <p>When you choose to use your current GPS location for specifying the locale for a business finder search, or
        obtaining a map, we use your location information for the requested purpose, and then discard it. We anonymously
        record any search activities and results for comparative analysis. Further, we anonymously record transactions
        for
        the purpose of paying directory listing and mapping data providers.</p>
      <p>Additionally, in some versions of our applications, you can allow our application to access the data stored in
        the address book on your mobile device. Our applications may use data from your address book to allow you to
        search for and navigate to the addresses of your contacts. We will only access this data if you have given
        permissions for a particular skobbler application to do so and only for such purpose, and you can revoke such
        permissions at any time by changing the settings on your mobile device.</p>
      <p>Each time you access the OpenStreetCam application, we record your location information (including GPS location
        and compass data) while the application is running. We may also receive data from your device’s camera,
        gyroscope,
        and accelerometer. We maintain a database that associates your location information and device data with your
        OSM
        user name or account ID. We may keep such information indefinitely to improve and enhance map data. When your
        location information and device data are used for map enhancement purposes, we strip it of your personal
        information. We may also share our map enhancements and analysis in anonymized form with the OSM community for
        purposes of improving OSM data.</p>
      <p>(b) Cookies, Web Beacons, and Similar Technologies on the Website and skobbler Applications</p>
      <p>We may employ browser cookies or similar technologies to identify the computer, mobile device, or some of our
        services and record your preferences and other data. We use cookies or similar technologies to evaluate how our
        websites, devices or applications are used and to provide continuous improvement to our services, make
        recommendations, and complete transactions you request. Cookies may be stored locally on mobile devices or on
        computer servers operated or controlled by skobbler. We may use a tracking pixel, agent or other visitor
        identification technology that collects pseudonymous data about your use of some of our services. We may also
        use
        Web beacons, also known as Web bugs, which are mostly invisible small graphic images (1-by-1 pixel), in the same
        color as the background of the web page or an HTML email, to monitor interaction with our websites or emails. In
        addition, when you visit our website our systems automatically collect your IP address and the type of browser
        that you use. When you browse our website, our systems log the skobbler web pages that you visit on a
        pseudonymous
        basis. Server log files are records of activity automatically created by the server and stored. If we combine or
        link cookie or Web beacons with personal information, we will treat the combined or linked information as
        personal
        information under this policy. We may employ third-parties to place advertisements about our products and
        services
        on other web sites. The use of cookies, Web beacons or other similar technologies by such third parties is
        governed by their privacy policies.</p>
      <p>You may limit the automatic collection of certain information by our website by disabling the cookies using
        your
        browser options. Please be aware that disabling cookies may prevent you from using specific features on our
        websites, such as ordering services, or maintaining an online account.</p>
      <p>(c) Other Information</p>
      <p>When you use the voice command or entry features on our services, we record your audible utterance (what you
        said). We collect utterances from our entire subscriber population, organize them by what was said, and then use
        this information to adjust speech recognition performance parameters to improve accuracy on an anonymous basis.
      </p>
      <p>We may retain any data you provide to us in an email inquiry, for the purpose of tracking the types of
        questions
        we receive.</p>
      <p>WHEN YOUR INFORMATION WILL BE SHARED OR DISCLOSED</p>
      <p>skobbler does not sell, rent, license or otherwise share information with third parties except as explained in
        this privacy policy.</p>
      <p>Consent Given/Transaction Processing</p>
      <p>We may disclose personal information about you to third parties with your consent or if permitted by statutory
        law.</p>
      <p>Third Party Services or Third Party Service Providers</p>
      <p>skobbler offers access to a variety of resources, including but not limited to various communication tools,
        search services, forums, and links to other World Wide Web sites in providing its services, products and
        websites.
        We may make certain personally identifiable information non-personal and share it or aggregated data with
        strategic partners that work with us to analyze usage, provide and improve products or services, or that help us
        market to customers, or for similar purposes. Information that is not personally identifiable or is aggregated
        is
        not subject to any restrictions of use or disclosure under this privacy policy.</p>
      <p>If you take advantage of a third party's services or products offered through the use of our services, we may
        disclose your personal information to such unaffiliated third parties. These entities may use this information
        that you provide in the course of your use of skobbler 's services (including your name, nicknames, telephone
        numbers, audio files, and email and mailing addresses) to promote their products and services to you. Any such
        personal information that a third party uses will be subject to their applicable privacy policies.</p>
      <p>Some of our services and functionality are provided in conjunction with third party service providers. These
        third party service providers process personal information on our behalf and are obligated to process such
        information in compliance with this privacy policy and other appropriate security and confidentiality measures.
      </p>
      <p>In cases of onward transfer to third parties of data of EU individuals received pursuant to the EU-US Privacy
        Shield, we are potentially liable.</p>
      <p>Legal Processes</p>
      <p>We will comply with any subpoenas, court orders or other legal processes for any of the information about you
        in
        our possession, and we may use such information to establish or exercise yours, ours, or others' legal rights,
        or
        to defend against legal claims. We also may be required to disclose Personal Information in response to a lawful
        request by public authorities, including to meet national security or law enforcement requirements.</p>
      <p>Telenav, Inc. is subject to the investigatory and enforcement powers of the Federal Trade Commission (FTC).</p>
      <p>European Union Users</p>
      <p>Telenav, Inc. complies with the EU-US Privacy Shield Framework as set forth by the US Department of Commerce
        regarding the collection, use, and retention of personal information from European Union member countries.
        Telenav, Inc. has certified that it adheres to the Privacy Shield Principles of Notice, Choice, Accountability
        for
        Onward Transfer, Security, Data Integrity and Purpose Limitation, Access, and Recourse, Enforcement and
        Liability.
        If there is any conflict between the policies in this privacy policy and the Privacy Shield Principles, the
        Privacy Shield Principles shall govern. To learn more about the Privacy Shield program, and to view our
        certification page, please visit <a href="https://www.privacyshield.gov/"
          target="_blank">https://www.privacyshield.gov/</a>.</p>
      <p>The skobbler software (and any upgrades, modifications, or additions thereto) that is factory installed or
        downloaded to, and resides upon your wireless device retains your manually entered account number and PIN, or
        reads it from the device. Having your carrier change the assigned phone number for your wireless device does not
        change the account number we maintain with regard to that device, which will result in your device not being
        able
        to access your skobbler account established using the previous phone number. If this happens, please contact
        skobbler customer care.</p>
      <p>SECURITY OF PERSONAL INFORMATION</p>
      <p>skobbler has implemented various physical, electronic and procedural safeguards to protect the confidentiality
        and security of personal information under our control. For instance, skobbler limits access to skobbler systems
        that store such information to authorized personnel. skobbler also employs the Secure Sockets Layer (SSL)
        protocol
        to protect your personal information when you bill on our website.</p>
      <p>While skobbler maintains a multitude of security measures to prevent unauthorized access to or disclosure of
        your
        personal information, no security measures are absolute or wholly guaranteed. skobbler will make reasonable
        attempts to notify you if it determines there were unauthorized acts by third parties that violate the law or
        this
        policy, or other security breaches, or where otherwise required by law.</p>
      <p>skobbler will maintain your personal information for as long as a business need exists, or as required by
        applicable laws, regulations, or government orders. When we dispose of personal information, we use commercially
        reasonable procedures to erase or render it unreadable.</p>
      <p>CHILDREN'S PRIVACY</p>
      <p>skobbler will not knowingly request or collect personal information from any person under 13 years of age
        without
        prior verifiable parental or legal guardian consent. If, however, you authorize a child to use our services or
        products by providing them a device associated with your skobbler service, any personal information associated
        with such use will be treated as your information in accordance with this policy. skobbler encourages parents to
        be involved in the online activities (including wireless Internet browsing) of their children to ensure that no
        information is collected from a child without parental or Guardian consent.</p>
      <p>CUSTOMER REQUESTS FOR INFORMATION</p>
      <p>Telenav acknowledges that individuals have the right to access the personal information/data that we maintain
        about them. Customers are entitled to request information concerning (i) their personal information under
        skobbler
        's control, (ii) possible recipients of such personal information and (iii) the purpose of the processing of
        such
        personal information. To protect your privacy and security, skobbler will take reasonable steps to verify your
        identity before providing you access or making corrections. skobbler will resolve requests to correct
        inaccuracies
        in personal information , except where the request is unreasonable. Customers who wish to request further
        information about our compliance with this law or have questions or concerns about our privacy practices and
        policies may contact us at privacy@skobbler.com or support@telenav.com.</p>
      <p>OTHER WEBSITES</p>
      <p>For your convenience, this website contains links to other websites, including some websites administered by
        skobbler or Telenav, Inc. or administered by other companies on behalf of skobbler, as well as to websites
        unrelated to skobbler. This privacy policy does not apply to other websites. Each website should be checked for
        its own privacy policy.</p>
      <p>CHANGES TO THIS POLICY</p>
      <p>skobbler may from time to time update this privacy policy, and we encourage you to periodically review this
        privacy policy to be informed of the latest changes. Whenever a change to this policy is significant, we will
        place a prominent notice on this website, at least 30 days before the effective date.</p>
      <p>UPDATE INFORMATION / REVOKE CHOICES / SUGGESTIONS / CONTACT INFORMATION</p>
      <p>If you would like to update or correct any information that you have provided to skobbler through your use of
        our
        services or this website, limit or opt-out of certain communications, revoke prior communication choices you
        have
        made, or if you have suggestions for improving this privacy policy, please send an e-mail at
        privacy@skobbler.com
        or support@telenav.com. We will use reasonable commercial efforts to address any concerns that you may have.</p>
      <p>CONTACT INFORMATION FOR INTERNATIONAL USERS</p>
      <p>In compliance with the Privacy Shield Principles, Telenav, Inc. commits to resolve complaints about your
        privacy
        and our collection or use of your personal information. European Union individuals with inquiries or complaints
        regarding this privacy policy should first contact Telenav, Inc. at the following address:</p>
      <p>Telenav, Inc.<br> ATTN: PRIVACY POLICY OFFICER<br> 4655 Great America Parkway <br> Suite 300<br> Santa Clara,
        CA
        95054<br> USA<br> Email: support@telenav.com </p>
      <p>Telenav, Inc. has further committed to refer unresolved privacy complaints under the EU-US Privacy Shield
        Principles with the BBB EU PRIVACY SHIELD, a non-profit alternative dispute resolution provider located in the
        United States and operated by the Council of Better Business Bureaus. If you do not receive timely
        acknowledgment
        of your complaint, or if your complaint is not satisfactorily addressed, please visit <a
          href="http://www.bbb.org/EU-privacy-shield/for-eu-consumers/"
          target="_blank">www.bbb.org/EU-privacy-shield/for-eu-consumers/</a> for more information and to file a
        complaint.</p>
      <p>Please note that if your complaint is not resolved through these channels, under limited circumstances, a
        binding
        arbitration option may be available before a Privacy Shield Panel.</p>
      <p>If you believe that skobbler has not complied with this Privacy Policy in regards to your personal information,
        you may write to the Telenav, Inc. Privacy Officer at the above address. In your letter, please describe in
        detail
        — in as much detail as possible — the ways in which you believe that we have not complied with this Privacy
        Policy. We will investigate and verify your complaint in a timely manner.</p>
    </article>
  </div>
</div>
