<div class="global-page-size">
  <div class="static-page">
    <h1>Terms and Conditions of Use</h1>
    <h3>Effective as of
      <time datetime="2016-08-01">August 1, 2016</time>
    </h3>
    <p>Please read these terms and conditions of use ("
      <strong>Terms of Use
      </strong>") carefully before you access and use OpenStreetCam, an application developed by Telenav, Inc. ("
      <strong>Telenav</strong>").&nbsp; Your access and use of OpenStreetCam indicates that you accept these Terms of Use. If you
      do not accept these Terms of Use, do not access or otherwise use OpenStreetCam. &nbsp;These Terms of Use represent
      the agreement ("
      <strong>Agreement</strong>") between you and with respect to OpenStreetCam. &nbsp;All references herein to "you" and "your"
      means you, your employees, agents, and contractors, and any other en ity on whose behalf you accept these Terms of
      Use, all of whom shall also be bound by this Agreement.</p>

    <p>Telenav may revise these Terms of Use at any time, with or without notice to you. You should visit this link from time
      to time to review the then current Terms of Use for OpenStreetCam.</p>

    <h4>OpenStreetCam</h4>
    <p>OpenStreetCam is an application developed by Telenav that collects, stores and distributes georeferenced street view
      imagery with the purpose of helping the OpenStreetMap® ("
      <strong>OSM</strong>") community improve the quality of the map data. &nbsp;</p>

    <h4>Account Information</h4>
    <p>You agree: (a) when signing up for OpenStreetCam, to provide Telenav with true, accurate, current, and complete information
      about yourself, and (b) to inform Telenav promptly of any changes to such information to keep it true, accurate, current
      and complete. You further agree that you are 13 years of age or older and have the authority and rights to download
      and use OpenStreetCam.</p>
    <p>If you provide Telenav with any information that is untrue, inaccurate, not current or incomplete, or Telenav has reasonable
      grounds to suspect so, Telenav has the right to suspend or terminate your access to OpenStreetCam.
    </p>
    <p>All of your account information, as well as other personal information provided by you to Telenav, is subject to Telenav's
      privacy policy located at http://www.telenav.com/legal/policies.html.&nbsp; Your use of OpenStreetCam indicates that
      you accept the terms of this privacy policy, which may be updated from time to time.</p>
    <h4>Open Source License</h4>
    <p>OpenStreetCam consists of an iOS application, an Android application and a Website-based application from
      <a href="//www.openstreetcam.org"
        target="_blank">www.openstreetcam.com</a>).&nbsp; OpenStreetCam is launched by Telenav with the aim of creating the biggest possible
      repository of street level photography imagery, and thus Telenav would like to open source OpenStreetCam "sLGPL License"),
      with the license ter available at
      <a href="http://www.gnu.org/licenses/lgpl-3.0.en.html">http://www.gnu.org/licenses/lgpl-3.0.en.html</a>, and by licensing its imagery under Creative Commons Attribution-ShareAlike
      4.0 International ("
      <strong>CC-By-SA License</strong>"), with the license terms available at
      <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">https://creativecommons.org/licenses/by-sa/4.0/legalcode</a>. &nbsp;
    </p>
    <p>You are free to copy, distribute, transmit and adapt data on OpenStreetCam, as long as you comply with the applicable
      open source license and credit Telenav and the OpenStreetCam contributors.&nbsp;We require that you use the credit
      “© Telenav and OpenStreetCam Contributors".
    </p>
    <h4>User Contributed Content</h4>
    <p>You are solely responsible for your conduct and any data, text, information, names, images, graphics, photos, imagery
      and other content (the "
      <strong>Content</strong>") that you submit, post display on or viaOpenStreetCam. &nbsp;Telenav does not claim ownership of
      any Content that you post on or through OpenStreetCam. You represent and warrant that (i) you own the Content posted
      by you on or throughOpenStreetCam or otherwise have the right to grant the rights and licenses set forth in these Terms
      of Use; (ii) the posting and use of your Content on or through OpenStreetCam does not violate, misappropriate or infringe
      on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark
      and/or other intellectual property rights; (iii) you agree to pay for all royalties, fees, and any other monies owed
      by reason of Content you post on or through OpenStreetCam; and (iv) you have the legal right and capacity to enter
      into these Terms of Use in your jurisdiction.</p>
    <p>You hereby grant to Telenav a worldwide, royalty-free, non-exclusive, perpetual, irrevocable license to do any act that
      is restricted by copyright, database right or any related right over anything within the Content, whether in the original
      medium or any other.&nbsp; These rights explicitly include commercial use, and do not exclude any field of endeavor.&nbsp;
      These rights include, without limitation, the right to sub-license the Content through multiple tiers of sub-licensees
      and to sue for any copyright violation directly connected with Telenav's rights under these Terms of Use.</p>
    <p>You agree that Telenav may at any time filter, alter, modify, redact, crop or delete your Content in whole or in part
      in its discretion, including in order to render the Content suitable for use onOpenStreetCam.&nbsp; To the extent allowable
      under applicable local laws and copyright conventions, you also waive and/or agree not to assert against Telenav or
      its licensees any moral rights or other rights that you may have in your Content that would otherwise preclude Telenav
      from filtering, altering, deleting, or using, copying or distributing your Content.&nbsp; You acknowledge and agree
      that we may continue to store, display and otherwise exercise the rights with respect to your Content after termination,
      deactivation, or archiving of your account.</p>
    <h4>Termination</h4>
    <p>Telenav reserves the right to terminate your access to OpenStreetCam at any time for any or no reason and without notice
      to you.</p>
    <p>You may request to delete your OpenStreetCam application at any time by notifying Telenav via: (i) an email addressed
      to
      <a href="mailto:support@chatbaka.com">support@telenav.com</a>; or (ii) a letter addressed to Telenav, Inc., 4655 Great America Parkway, Suite 300, Santa
      Clara, CA 95054. Any such deletion by you shall be effected within a reasonable time after Telenav's receipt of your
      notice. Upon any termination of yourOpenStreetCam account and data, Telenav shall have no liability to you or any further
      obligations under this Agreement.</p>
    <h4>Disclaimers</h4>
    <p>You must evaluate, and will bear all risks associated with, the use of any Content, including any reliance on the quality,
      integrity, accuracy, completeness, or usefulness of such Content. We may refuse or delete any Content, including Content
      of which we become aware that is in breach of these Terms of Use, is otherwise contrary to law, or is otherwise inappropriate
      in our discretion. We do not guarantee the accuracy, integrity or quality of any Content. Under no circumstances will
      we be liable in any way for any Content, including, but not limited to, liability for any errors, inaccuracies, or
      omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any Content. We
      will have no obligation or liability to you to maintain, store, or license Content, protect and maintain Content owners'
      intellectual property rights, or to enforce these Terms of Use. You hereby waive and release any claims you may have
      against us arising or resulting from use or misuse of Content or your inability to effectively use Content, your failure
      to comply with these Terms of Use, or for any act, omission, or conduct of any other OpenStreetCam user.</p>
    <p>You are solely responsible for your interaction with other users of OpenStreetCam. You agree that Telenav is not responsible
      or liable for the conduct of any user. Telenav reserves the right, but has no obligation, to monitor or become involved
      in disputes between you and other users. Exercise common sense and your best judgment when interacting with others,
      including when you submit or post Content.</p>
    <p>OpenStreetCam is provided "as is" and witho t warranties of any kind either express or implied. Telenav disclaims all
      warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for
      a particular purpose.</p>
    <p>Applicable law may not allow certain warranty exclusions, so one or more of the above disclaimers may not apply to you.</p>
    <h4>Other Qualifications</h4>
    <p>You understand and agree that OpenStreetCam is downloaded to your wireless device at your own discretion and risk and
      that you will be solely responsible for any damages to your wireless device, or loss of data, that results from the
      download of such application.</p>
    <p>Telenav does not warrant that OpenStreetCam will not infringe on third party intellectual property rights. Telenav also
      does not warrant that your use of OpenStreetCam will be uninterrupted or error-free. &nbsp;Rather, temporary interruptions
      of OpenStreetCam may occur from time to time. Telenav will exercise reasonable efforts to attempt to limit or prevent
      such occurrences, but in no event willTelenav be liable for any financial or other damages due to such interruptions.</p>
    <p>Telenav has technological and operational security policies and procedures to protect your information from loss, misuse,
      alteration, or unintentional destruction, but Telenav makes no representations or warranties regarding the security
      of OpenStreetCam or the transmission of data or information to and from Telenav and your wireless device. Telenav will
      not be liable to you or anyone else in the event of any unauthorized infiltration of any of its systems.</p>
    <h4>Limitation of liability</h4>
    <p>To the extent permitted under applicable law, under no circumstances shall Telenav or its licensors (or their licensors
      and suppliers) be liable to you or anyone else for any loss, injury, or damages (including but not limited to any compensatory,
      punitive, special, incidental, indirect, exemplary or consequential damages) arising out of or in connection with the
      use by you or anyone else ofOpenStreetCam, any defects in OpenStreetCam, or any breach of this Agreement, even if Telenav
      or its licensors have been advised of the possibility of such damages.</p>
    <p>Applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages, so the
      above exclusion may not apply to you.</p>
    <h4>Indemnification</h4>
    <p>To the extent permitted by applicable law, you agree to indemnify, defend and hold Telenav and its licensors (including
      their respective licensors, suppliers, assignees, subsidiaries, affiliated companies, and the respective officers,
      directors, employees, shareholders, agents and representatives of each of them) free and harmless from and against
      any liability, loss, injury (including injuries resulting in death), demand, action, cost, expense, or claim of any
      kind or character, including but not limited to attorney's fees, arising out of or in connection with (i) your access
      to or use ofOpenStreetCam; (ii) your breach or alleged breach of these Terms of Use; (iii) your violation of any third-party
      right, including without limitation, any intellectual property right, publicity, confidentiality, property or privacy
      right; (iv) your violation of any laws, rules, regulations, codes, statutes, ordinances or orders of any governmental
      and quasi-governmental authorities, including, without limitation, all regulatory, administrative and legislative authorities;
      or (v) any misrepresentation made by you. You will cooperate as fully required by Telenav in the defense of any claim.Telenav
      reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you, and
      you will not in any event settle any claim without the prior written consent of Telenav.</p>
    <h4>Attribution and Governing Law</h4>
    <p>You agree that any dispute, claim or controversy arising out of or relating to this Agreement or OpenStreetCam shall
      be settled by independent arbitration involving a neutral arbitrator and administered by the American Arbitration Association.
      The arbitrator shall apply the Commercial Arbitration Rules of the American Arbitration Association, and the judgment
      upon the award rendered by the arbitrator may be entered by any court having jurisdiction. Note that there is no judge
      or jury in an arbitration proceeding and the decision of the arbitrator shall be binding upon both parties.</p>
    <p>This Agreement and performance hereunder will be governed by and construed in accordance with the laws of the State of
      California, without giving effect to its conflict of laws provisions. You agree to submit to the exclusive jurisdiction
      of the courts of the County of Santa Clara, California.
    </p>
    <h4>Miscellaneous</h4>
    <p>This Agreement constitutes the entire agreement between Telenav and you with respect to the subject matter hereof. Telenav's
      or your failure to require performance of any provision shall not affect that party's right to require performance
      at any time thereafter, nor shall a waiver of any breach or default of this Agreement constitute a waiver of any subsequent
      breach or default or a waiver of the provision itself.</p>
    <p>If any provision herein is held unenforceable, then such provision will be modified to reflect the intention of the parties,
      and the remaining provisions of this Agreement will remain in full force and effect.</p>
    <p>You may not resell, assign, or transfer any of your rights hereunder. Any such attempt may result in termination of this
      Agreement, without liability to Telenav. Notwithstanding the foregoing, Telenavmay assign this Agreement to any affiliate
      at any time without notice.</p>
    <p>By using OpenStreetCam, you consent to receive from Telenav all communications, including notices, agreements, legally
      required disclosures or other information in connection withOpenStreetCam (collectively, "
      <strong>Notices</strong>") electronically. Telen v may provide such Notices by posting them on Telenav's website or by downloading
      such Notices to your wireless device. If you desire to withdraw your consent to receive Notices electronically, you
      must discontinue your use of OpenStreetCam. Telenav may email or send text messages to you from time to time to inform
      you about our products and services that we think will interest you, unless you inform us that you opt out from receiving
      such communications.</p>
    <p>If you have any questions regarding the terms of this Agreement, please contact Telenav by sending an email to
      <a href="mailto:support@telenav.com">support@telenav.com</a> or by writing to Telenav Customer Service, 4655 Great America Parkway, Suite 300, Santa Clara,
      CA 95054. OpenStreetCam and Telenav and their logos are registered and unregistered trademarks of Telenav. All other
      trademarks, service marks, logos and trade names used on the OpenStreetCam app or on
      <a href="http://chatbaka.com/www.telenav.com">www.telenav.com</a> are the property of their respective owners.</p>
  </div>
</div>
