<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" (click)="closeModal()">&times;</span></button>
    <h4 class="modal-title">JOSM not detected</h4>
  </div>
  <div class="modal-body">
    <p>To edit the map with JOSM you need to have installed and launched the JOSM application on your computer. </p>
    <p>The Remote control feature should be installed and activated as well.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
  </div>
</div>
