<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" (click)="closeModal()">&times;</span></button>
    <h4 class="modal-title">Get the OpenStreetCam App!</h4>
  </div>
  <div class="modal-body">
    <h5>Available for iOS and Android</h5>
    <p>OpenStreetCam is a free and open platform for street level imagery. Anyone can contribute images with a smartphone and our open source apps. OSC will detect salient features from the uploaded images such as signs, lanes and road curvature to improve OpenStreetMap.</p>
  </div>
  <div class="modal-footer">
    <div class="list-inline">
      <div class="row">
        <div class="col col-md-6">
          <a href="https://itunes.apple.com/ro/app/openstreetcam/id1089548849?mt=8" target="_blank"><img src="/assets/images/appstore@2x.png" width="160" alt="AppStore badge"></a>
        </div>
        <div class="col col-md-6">
          <a href="https://play.google.com/store/apps/details?id=com.telenav.streetview" target="_blank"><img src="/assets/images/google-play-badge.png" width="160" alt="Google Play badge"></a>
        </div>
      </div>
      <div class="row" style="padding:0">
        <div class="col col-md-6">
        </div>
        <div class="col col-md-6">
          <a href="https://github.com/kartaview/android/releases" target="_blank">Download .apk</a>
        </div>
      </div>
    </div>
  </div>
</div>
