<div class="modal-header">
  <h4 class="modal-title">OSM not detected</h4>
</div>
<div class="modal-body">
  To edit the map with JOSM you need to have installed and launched the JOSM application on your computer. The Remote control
  feature should be installed and activated as well.
</div>
<div class="modal-footer">
  <div class="row w-100">
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </div>
</div>
