.loading-overlay {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.rotating-plane-spinner {
  margin: 25px auto;
  width: 40px;
  height: 40px;
  background-color: #333;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
